
.ani1{

   
    display: block;
    width: 300px;
    height: 200px;
  
    animation-name: ani1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes ani1{
    0%{
        background-color: aquamarine;
    }
    50%{
        background-color: darkorchid;
    }
    100%{
        background-color:darkorange;
    }
    
}

.img1{

   
    padding: 20px;
  
    animation-name: img1 ;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes img1{
    0% {
        border-radius: 8px;
    
    }
    
    100%{
       border-radius: 50%;
    }
    
}
